<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">

	<display-name>webapp</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!--
		<param-value>classpath:database.xml, classpath:application.xml, classpath:security.xml</param-value>
		-->
		<param-value>classpath:application.xml</param-value>
	</context-param>

	<filter>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<!--
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	-->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>confPath</param-name>
			<param-value>/WEB-INF/urlrewrite.xml</param-value>
		</init-param>
	</filter>


	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>

	<!--
    <error-page>
        <error-code>404</error-code>
        <location>/app/error/notFound.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/app/error/accessDenied.html</location>
    </error-page>
    <error-page>
         <error-code>500</error-code>
         <location>/app/error/serverError.html</location>
    </error-page>
     <error-page>
        <error-code>405</error-code>
        <location>/app/error/serverError.html</location>
    </error-page>
     <error-page>
        <error-code>400</error-code>
         <location>/app/error/serverError.html</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>
         <location>/app/error/serverError.html</location>
    </error-page>
	-->    
</web-app>
